@use '../mixins'as mixins;

.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 980px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.accordion {
  margin: 0 30px;
}

.accordion h2 {
  @include mixins.fontOptions("Golos-Bold", 18px, 700, 24px);
  margin-bottom: 24px;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accordion-tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E9262D;
}

.accordion-tab.active {
  border-left: 4px solid #E9262D;
  display: block;
}

.accordion-tab.active .tab img {
  transform: rotate(180deg);
}

.tab {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  position: relative;
  margin-left: 5px;
}

.tab img {
  transform: rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-content {
  display: none;

}

.accordion-content li {
  color: #73BE43;
  list-style: none;
}

.accordion-content li span {
  margin-left: 5px;
  color: initial;
}

.accordion-content.active {
  display: block;
  margin-left: -29px;
}

.accordion-content.active ul {
  display: block;
  margin-right: 10px;
}

.accordion-content.active ul li {
  margin-top: 10px;
}
