.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 189px;
    padding: 10px 20px;
    margin: 0 auto;
    border: 1px solid silver;
    background-color: #FFFFFF;
    border-radius: 8px;
    transition: 0.3s ease;
    margin-top: 15px;
    margin-bottom: 21px;
}

.continue-button p {
    margin: 0;
    color: #000000;
}

.continue-button:disabled {
    border: 1px solid #FFFFFF;
}