@use '../mixins'as mixins;

.navigation-menu {
    margin-bottom: 30px;
}

.navigation-menu__wrapper {
    display: flex;
    align-items: center;
    margin: 22px 30px;
}

.navigation-menu button {
    background-color: transparent;
    border: 0;
}

.navigation-menu p {
    margin-left: 28px;
    @include mixins.fontOptions("Golos-Medium", 14px, 400, 20px)
}

.navigation-progress-bar {
    width: 100%;
    height: 1px;
    background-color: #73BE43;
    position: relative;
}

.navigation-progress-bar::before {
    content: '';
    position: absolute;
    width: 386px;
    height: 5px;
    background-color: #E9262D;
}

.navigation-progress-bar::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 500px;
    background-color: #E9262D;
}

.bottom-progress-bar {
    width: 100%;
    height: 5px;
    background-color: #73BE43;
    position: relative;
}

.bottom-progress-bar::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: #E9262D;
}