@use '../mixins'as mixins;

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 633px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider {
    margin: 0 30px;
}

.slider h2 {
    @include mixins.fontOptions("Golos-Bold", 18px, 700, 24px);
    margin-bottom: 30px;
}

.slider-container {
    height: 339px;
    position: relative;
    border: 1px solid #C2C3C6;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}


.slides-wrapper {
    height: auto;
}

.slides-wrapper h3 {
    display: flex;
    justify-content: center;
    @include mixins.fontOptions("Golos-Bold", 18px, 700, 24px);
}

.slide {
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    pointer-events: auto;
}

.controls {
    position: relative;
    top: 299px;
    width: 940px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9262D;
}


.controls .slide-arrow {
    background-color: #E9262D;
    width: 340px;
    border: none;
}

.pagination .ellipse {
    display: inline-block;
    opacity: 25%;
}

.pagination .ellipse.active {
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 1;
}
